body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    width: 460px;
    margin: 20px auto;
    border-radius: 12px;
}

.analytics {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.a-card {
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    width: 180px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.download-card {
    display: block;
    background: white;
    width: 420px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 14px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

canvas {
    width: 95% !important;
    max-height: 420px;
    margin: 30px auto;
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background: #eee;
}
