body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
    text-align: center;
}

h1 { margin: 20px; }

.card {
    background: rgba(255,255,255,0.12);
    padding: 25px;
    width: 420px;
    margin: 20px auto;
    border-radius: 16px;
    backdrop-filter: blur(10px);
}

.big-number {
    font-size: 42px;
    font-weight: bold;
    margin: 10px;
}

.status {
    margin-top: 10px;
    padding: 8px;
    border-radius: 20px;
    font-weight: bold;
}

.status.normal { background: #2ecc71; }
.status.high { background: #f39c12; }
.status.critical { background: #e74c3c; }

.analytics {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.a-card {
    padding: 20px;
    width: 180px;
    border-radius: 16px;
}

.blue { background: linear-gradient(135deg,#00c6ff,#0072ff); }
.green { background: linear-gradient(135deg,#56ab2f,#a8e063); }
.purple { background: linear-gradient(135deg,#7f00ff,#e100ff); }

canvas {
    width: 95% !important;
    max-height: 400px;
    margin: 30px auto;
    background: white;
    border-radius: 12px;
}

table {
    width: 80%;
    margin: 20px auto;
    background: white;
    color: black;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th { background: #f4f4f4; }
/* THEME BUTTON */
.theme-btn {
    background: #00f2ff;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

/* LIGHT MODE */
body.light {
    background: #f4f6f8;
    color: black;
}

body.light .card,
body.light .a-card,
body.light table {
    background: white;
    color: black;
}

body.light h1 {
    text-shadow: none;
}
